{% extends 'base.jinja2' %}

{% block body %}
	hello {{username}}!
	<br>
	<a href="{{ oauth_url }}">
		<img src="static/sso.png">
	</a>

	{% for char in chars %}
		<br><a href="/assets/{{ char['char_id'] }}">{{ char['char_name'] }}</a>
	{% endfor %}
{% endblock body %}
