{% extends 'base.jinja2' %}

{% block body %}
	<p>
		hello {{username}}!
		(<a href="/logout">logout</a>)
	</p>
	<p>
		add a character: <a href="{{ oauth_url }}"><img src="static/sso.png"></a>
	</p>

	<h2>characters</h2>
	{% for char in chars %}
		<a href="/assets/{{ char['char_id'] }}">
			<img src="https://imageserver.eveonline.com/Character/{{ char['char_id'] }}_32.jpg">
			{{ char['char_name'] }}
		</a>
		<br>
	{% endfor %}
{% endblock body %}
