{% extends 'base.jinja2' %}

{% block body %}
	<a href="/assets">back</a>
	<h2>{{ char_name }}'s assets</h2>

	{% for station, total, items in all_items %}
		<h3>{{ station }} ({{ (total / 100000000)|round(1) }})</h3>
		<table>
			{% for item, quantity, price in items %}
				<tr>
					<td>
						{% if quantity != 1 %}
							{{ quantity }}✕
						{% endif %}
					</td>
					<td>{{ item }}</td>
					<td>{{ (price / 100000000)|round(1) }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endfor %}
{% endblock body %}
