{% extends 'base.jinja2' %}

{% block body %}
	<a href="/assets">back</a>
	<p><img src="https://imageserver.eveonline.com/Character/{{ char_id }}_128.jpg"></p>
	<h2>{{ char_name }}'s assets</h2>

	{% for station, station_total, items in all_items %}
		<h3>{{ station }} ({{ (station_total / 100000000)|round(1) }})</h3>
		<table class="assets">
			{% for item in items recursive %}
				<tr>
					<td>
						{% if item.quantity != 1 %}
							{{ item.quantity }}✕
						{% endif %}
					</td>
					<td>
						{% if item.children %}
							<a href="" data-id="{{ item.item_id }}">{{ item.name }}</a>
							<ul id="{{ item.item_id }}">
								{% for subitem in item.children recursive %}
									<li>{{ subitem.name }}</li>
									{% if subitem.children %}
										<ul>{{ loop(subitem.children) }}</ul>
									{% endif %}
								{% endfor %}
							</ul>
						{% else %}
							{{ item.name }}
						{% endif %}
					</td>
					<td>{{ (item.cumulative_price / 100000000)|round(1) }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endfor %}

	<script src="/static/char_assets.js"></script>
{% endblock body %}
