{% extends 'base.jinja2' %}

{% block body %}
	<form method="post" action="/login">
		username: <input type="text" name="username">
		<br>
		password: <input type="password" name="password">
		<br>
		<input type="submit" value="login">
	</form>
	<br>
	<form method="post" action="/register">
		username: <input type="text" name="username">
		<br>
		password: <input type="password" name="password">
		<br>
		<input type="submit" value="register">
	</form>
{% endblock body %}
